  .connection__container {
    margin-top: 8em;

    h2 {
      font-size: 2em;
      text-align: center;
    }

    p {
      font-size: 1.2em;
      max-width: 80%;
      margin: 1em auto;
      text-align: justify;
    }
  }