.conceptno2__container {
  display: flex;
  flex-direction: column;
  gap: 3em;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
    text-decoration: underline;
  }

  p {
    max-width: 75%;
    margin: 1em auto;

    font-size: 2em;
    text-align: center;
  }


  &--everything__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin: 0 2em 4em 2em;

    &--left {
      display: flex;
      flex-direction: column;
      font-size: 0.7em;

      h4 {
        text-align: center;
        margin: 0px;
        font-size: 3em;
      }
    }

    &--right {
      max-width: 30%;

      img {
        max-width: 100%;
      }
    }
  }

}

@media only screen and (max-width: 630px) {
  .conceptno2__container {
    &--everything__container {
      flex-direction: column;
      gap: 4em;
    }
  }
}