.conceptno1__container {
  display: flex;
  flex-direction: column;
  gap: 3em;
  justify-content: center;
  align-items: center;
  // border: 1px solid red;

  h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 2em;
  }

  p {
    max-width: 75%;
    margin: 1em auto;

    font-size: 2em;
    text-align: center;
  }

  &--fundamentals__container {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 10em;


    img {
      width: 15%;
      transition: width ease 300ms;
      // &.special {}

      &:hover {
        width: 25%;
      }
    }
  }

  &--shirt-explanation__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin: 0 2em 4em 2em;

    img {
      max-width: 40%;
    }

    div {
      display: flex;
      flex-direction: column;
      font-size: 0.7em;

      h4 {
        text-align: center;
        margin: 0px;
        font-size: 3em;
      }
    }
  }
}

@media only screen and (max-width: 630px) {
  .conceptno1__container {
    &--fundamentals__container {
      flex-direction: column;
      gap: 3em;
      height: fit-content;

      img {
        width: 40%;

        &:hover {
          width: 70%;
        }
      }
    }

    &--shirt-explanation__container {
      flex-direction: column;
      gap: 5em;
    }
  }
}