.about__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 4em;

  margin-top: 20em;
  padding-top: 5em;

  &--left {
    max-width: 30em;

    p {
      margin-left: 2.5em;
      font-size: 1.2em;
    }
  }

  &--right {
    flex-grow: 1;
    max-width: 20em;

    img {
      object-fit: cover;
      max-width: 100%;
      min-height: 100%;
    }
  }
}